<!DOCTYPE html>
<html>
  <head>
    {{{ headStub }}}
    <title>{{ title }}</title>
  </head>
  <body>
    {{{ headBar }}}
    {{{ body }}}
    {{{ footBar }}}
    {{{ includeStub }}}
  </body>
</html>
