<div class="panel callout radius">
  <div class="row text-center"><h4>{{title}}</h4></div>

  <div class="row text-center">
    <div class="small-12 medium-6 large-6 columns">
      {{howTo.title}}
      {{#each howTo.howTos}}
      <span data-tooltip class="has-tip row" title="{{response}}">{{title}}</span><br>
      {{/each}}
    </div>

    <div class="small-12 medium-6 large-6 columns">
      {{faq.title}}
      {{#each faq.faqs}}
      <span data-tooltip class="has-tip row" title="{{response}}">{{title}}</span><br>
      {{/each}}
    </div>
  </div>
</div>