<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <ul class="pricing-table">
      <li class="title">At a Glance</li>
      <li class="price">${{price}}</li>
      <li class="bullet-item">Bedrooms: {{bedrooms}}</li>
      <li class="bullet-item">Bathrooms: {{fullBathrooms}} full and {{halfBathrooms}} half</li>
      <li class="cta-button"><a class="button" href="#">Contact {{postedBy}}</a> <a class="button" href="#">SocialScore</a></li>
      {{#if sqaureFeet}}<li class="bullet-item">Squarefeet: {{sqaureFeet}}</li>{{/if}}
      {{#if heatInc}}<li class="price">Heat Included</li>{{/if}}
      {{#if heatInc}}<li class="price">Garbage Incded</li>{{/if}}
    </ul>
  </div>

<!---
  <div class="small-12 medium-6 large-6 columns">
    <div class="row">
      <fieldset>
        {{availableFromDate}}
        {{availableToDate}}
      </fieldset>
    </div>

    <div class="row">
      <div class="small-12 medium-12 large-12 columns text-centered">
        <ul class="vcard text-centered">
          <li class="street-address">{{addrLine}}</li>
          <li class="locality">{{addrCity}}</li>
          <li><span class="state">{{addrState}}</span>, <span class="zip">{{addrZip}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  ---->
</div>