<div class="row">
  <div class="small-12 medium-6 large-6 columns">
    <label>Date available from<small> required</small>
      <input value="{{availableFromDate}}" type="date" required>
    </label>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <label>Date available to<small> required</small>
      <input value="{{availableToDate}}" type="date" required>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 large-6 columns">
    <label>Number and Street Name<small> required</small>
      <input value="{{addrLine}}" type="text" placeholder="123 S. Halsted St" required>
    </label>
    <label>Apartment Number<br>
      <input value="{{addrAptNum}}" type="text" placeholder="Apt Num">
    </label>
  </div>
  <div class="small-12 medium-6 large-6 columns">
    <label>City, State, ZIP<small> required</small>
      <input value="{{addrCity}}" type="text" placeholder="City" required>
      <input value="{{addrState}}" type="text" placeholder="State" required>
      <input value="{{addrZip}}" type="number" placeholder="ZIP" required>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 large-4 columns">
    <label>Maximum Price<small> required</small>
      <input value="{{price}}" type="number" required>
    </label>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <label>Bedrooms<small> required</small>
      <input value="{{bedrooms}}" type="number" required>
    </label>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <label>Bathrooms<small> required</small>
      <input value="{{fullBathrooms}}" type="number" placeholder="full" required>
      <input value="{{halfBathrooms}}" type="number" placeholder="half" required>
    </label>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-4 large-4 columns">
    <label>Utilities Included<br>
      <p>
      <input name="{{heatInc.name}}" type="checkbox"><label>Heat</label><br>
      <input name="{{waterInc.name}}" type="checkbox"><label>Water</label><br>
      <input name="{{garbageInc.name}}" type="checkbox"><label>Garbage</label><br>
      <input name="{{electricInc.name}}" type="checkbox"><label>Electricity</label><br>
      <input name="{{internetInc.name}}" type="checkbox"><label>Internet</label>
      </p>
    </label>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <label>Square Feet Of Apartment<br>
      <input name="{{squareFeet.name}}" type="number" pattern="number"><br>
    </label>
    <input name="{{smokingAllowed.name}}" type="checkbox"><label>Smoking Allowed</label><br>
  </div>
  <div class="small-12 medium-4 large-4 columns">
    <label>Pets Allowed<br>
      <p>
      <input name="{{dogAllowed.name}}" type="checkbox"><label>Dogs Allowed</label><br>
      <input name="{{catAllowed.name}}" type="checkbox"><label>Cats Allowed</label>
      </p>
    </label>
  </div>
</div>