<div class="row">
  <div class="small-12 medium-12 large-12 columns">
    <ul class="pricing-table">
      <li class="title">At a Glance</li>
      <li class="price">${{price}}</li>
      <li class="bullet-item">Bedrooms: {{bedrooms}}</li>
      <li class="bullet-item">Bathrooms: {{fullBathrooms}} full and {{halfBathrooms}} half</li>
      <li class="cta-button"><a class="button" href="#">Contact {{postedByName}}</a> <a class="button" href="#">More Information</a></li>
    </ul>
  </div>

<!---
  <div class="small-12 medium-6 large-6 columns">
    <div class="row">
      <fieldset>
        {{availableFromDate}}
        {{availableToDate}}
      </fieldset>
    </div>

    <div class="row">
      <div class="small-12 medium-12 large-12 columns text-centered">
        <ul class="vcard text-centered">
          <li class="street-address">{{addrLine}}</li>
          <li class="locality">{{addrCity}}</li>
          <li><span class="state">{{addrState}}</span>, <span class="zip">{{addrZip}}</span></li>
        </ul>
      </div>
    </div>
  </div>
  ---->
  
</div>

<div id="MoreInfoModal" class="reveal-modal" data-reveal>
  <p class="lead">Full listing:</p>
  <ul class="pricing-table">
    <li class="bullet-item">Available From: {{availableFromDate}}</li>
    <li class="bullet-item">Available To: {{availableToDate}}</li>
    <li class="bullet-item"></li>
    {{#if squareFeet}}<li class="bullet-item">Square Feet: {{sqaureFeet}}</li>{{/if}}
    {{#if heatInc}}<li class="bullet-item">Heat Included</li>{{/if}}
    {{#if waterInc}}<li class="bullet-item">Water Included</li>{{/if}}
    {{#if garbageInc}}<li class="bullet-item">Garbage Included</li>{{/if}}
    {{#if electricInc}}<li class="bullet-item">Electricity Included</li>{{/if}}
    {{#if internetInc}}<li class="bullet-item">Internet Included</li>{{/if}}
    {{#if dogAllowed}}<li class="bullet-item">Dogs Allowed</li>{{/if}}
    {{#if catAllowed}}<li class="bullet-item">Cats Allowed</li>{{/if}}
    {{#if smokingAllowed}}<li class="bullet-item">Smoking Allowed</li>{{/if}}
  </ul>

  <a class="close-reveal-modal">&#215;</a>
</div>