
<div class="row panel">
  <div class="small-6 medium-6 large-8 columns">
    <div class="small-12 medium-6 large-6 columns">
      <label>{{priceLabel}}
        <input id="{{priceFrom.id}}" type="number" placeholder="{{priceFrom.placeholder}}" />
        <input id="{{priceTo.id}}" type="number" placeholder="{{priceTo.placeholder}}" />
      </label>

      <label>{{bedrooms.label}}
        <input id="{{bedrooms.id}}" type="number" placeholder="{{bedrooms.placeholder}}" />
      </label>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <label>{{bathroomsLabel}}
        <input id="{{fullBathrooms.id}}" type="number" placeholder="{{fullBathrooms.placeholder}}" />
        <input id="{{halfBathrooms.id}}" type="number" placeholder="{{halfBathrooms.placeholder}}" />
      </label>
    </div>
  </div>
  <div class="small-6 medium-6 large-4 columns">
    <div class="small-12 medium-6 large-6 columns">
      <label>Allowed<br>
        <input id="{{catAllowed.id}}" type="checkbox"><label for="{{catAllowed.id}}">{{catAllowed.text}}</label><br>
        <input id="{{dogAllowed.id}}" type="checkbox"><label for="{{dogAllowed.id}}">{{dogAllowed.text}}</label><br>
        <input id="{{smokingAllowed.id}}" type="checkbox"><label for="{{smokingAllowed.id}}">{{smokingAllowed.text}}</label>
      </label>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <label>Included<br>
        <input id="{{garbageInc.id}}" type="checkbox"><label for="{{garbageInc.id}}">{{garbageInc.text}}</label><br>
        <input id="{{heatInc.id}}" type="checkbox"><label for="{{heatInc.id}}">{{heatInc.text}}</label><br>
        <input id="{{waterInc.id}}" type="checkbox"><label for="{{waterInc.id}}">{{waterInc.text}}</label><br>
        <input id="{{electricInc.id}}" type="checkbox"><label for="{{electricInc.id}}">{{electricInc.text}}</label>
      </label>
    </div>
  </div>
</div>


{{{mapViewTemplate}}}

<div class="row" id={{searchResultsID}}>
</div>