<div class="row">
  <div class="panel">
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 text-center">
      <li>Full Apartment, To Rent: <img src="public/markers/red_MarkerA.png"></li>
      <li>Room, Short Term, To Rent: <img src="public/markers/red_MarkerS.png"></li>
      <li>Room, Long Term, To Rent: <img src="public/markers/red_MarkerL.png"></li>
    </ul>
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3 text-center">
      <li>Full Apartment, Wanted: <img src="public/markers/blue_MarkerA.png"></li>
      <li>Room, Short Term, Wanted: <img src="public/markers/blue_MarkerS.png"></li>
      <li>Room, Long Term, Wanted: <img src="public/markers/blue_MarkerL.png"></li>
    </ul>
  </div>
</div>

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <a class="title button" id="searchButton">Search</a>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>{{priceLabel}}</label></li>
        <li><input id="{{priceFrom.id}}" type="number" placeholder="{{priceFrom.placeholder}}" /></li>
        <li><input id="{{priceTo.id}}" type="number" placeholder="{{priceTo.placeholder}}" /></li>

        <li><label>{{bedrooms.label}}</label></li>
        <li><input id="{{bedrooms.id}}" type="number" placeholder="{{bedrooms.placeholder}}" /></li>

        <li><label>{{bathroomsLabel}}</label></li>
        <li><input id="{{fullBathrooms.id}}" type="number" placeholder="{{fullBathrooms.placeholder}}" /></li>
        <li><input id="{{halfBathrooms.id}}" type="number" placeholder="{{halfBathrooms.placeholder}}" /></li>

        <li><label>Included</label></li>
        <li><label>{{heatInc.text}}<input type="checkbox" id="{{heatInc.id}}"></input></label></li>
        <li><label>{{garbageInc.text}}<input type="checkbox" id="{{garbageInc.id}}"></input></label></li>
        <li><label>{{waterInc.text}}<input type="checkbox" id="{{waterInc.id}}"></input></label></li>
        <li><label>{{electricInc.text}}<input type="checkbox" id="{{electricInc.id}}"></input></label></li>
        <li><label>{{garbageInc.text}}<input type="checkbox" id="{{garbageInc.id}}"></input></label></li>
        
        <li><label>Allowed</label></li>
        <li><label>{{catAllowed.text}}<input type="checkbox" id="{{catAllowed.id}}"></input></label></li>
        <li><label>{{dogAllowed.text}}<input type="checkbox" id="{{dofAllowed.id}}"></input></label></li>
        <li><label>{{smokingAllowed.text}}<input type="checkbox" id="{{smokingAllowed.id}}"></input></label></li>
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Listing Types</label></li>
        <li><a href="#search" id="showAsMap">Map</a></li>
        <li><a href="#search" id="showAptList">Apt. List</a></li>
        <li><a href="#search" id="showSocialList">Social List</a></li>
      </ul>
    </aside>

    <section class="main-section" id="main-section" style="height:400px">
      {{{mapViewTemplate}}}
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

<div id="mapListingModal" class="reveal-modal" data-reveal>
  <div id="{{searchResultsID}}"> </div>
  <a class="close-reveal-modal">&#215;</a>
</div>